<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Athenaeum</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li class="dropdown">
                            <a href="/search/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/search/#">Discussions</a></li>
                                <li><a href="/search/#">Ask the Author</a></li>
                                <li><a href="/search/#">People</a></li>
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li class="dropdown-header">Nav header</li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                                <!--<li><a href="#">One more separated link</a></li>-->
                            </ul>
                        </li>
                    </ul>
                    <div class="col-sm-3 col-md-3 navbar-right">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for Book Titles..." name="q" ng-model="title">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" ng-click="model.redirect(title)"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container marketing">
        <div class="container-fluid">
            <h1>Discussions</h1>

                <ul class="list-group">
                    <li ng-click="model.book=book" ng-repeat="book in model.books" class="list-group-item">
                        <img ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" width="50px"/>
                        {{book.volumeInfo.title}}
                    </li>
                </ul>
                </div>
            </div>
            <!--<section class="webdesigntuts-workshop">-->

        </div>
    </div>


    <div class="container">
        <!--<div class="navbar-wrapper">-->
        <!--<div class="container">-->
        <nav class="navbar navbar-inverse navbar-fixed-bottom" >
            <div class="container">
                <a class="navbar-brand pull-right" href="#!/user/{{model.userId}}"><span
                        class="glyphicon glyphicon-user"></span></a>
            </div>
        </nav>

        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!--</section>-->