<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#!/user/{{model.userId}}">Athenaeum</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li class="active"><a ng-if="model.currentUser.roles.indexOf('ADMIN') > -1">Admin</a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="model.redirectPeople()">People</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="col-sm-3 col-md-3 navbar-right">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for Book Titles..." name="q" ng-model="title">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" ng-click="model.redirectSearch(title)"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container marketing">
        <div class="container-fluid">
            <h1>People</h1>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in model.users" style="height: 50px">
                        {{user.username}}
                        <button ng-if="model.currentUser.following.indexOf(user.username) === -1" class="btn btn-danger pull-right" ng-click="model.followUser(user.username)">Follow</button>
                        <button ng-if="model.currentUser.following.indexOf(user.username) > -1" class="btn btn-success pull-right">Following</button>
                </li>
            </ul>

        </div>
    </div>


    <div class="container">
        <!--<div class="navbar-wrapper">-->
        <!--<div class="container">-->
        <nav class="navbar navbar-inverse navbar-fixed-bottom" >
            <div class="container">
                <a class="navbar-brand pull-right" href="#!/user/{{model.userId}}"><span
                        class="glyphicon glyphicon-user"></span></a>
            </div>
        </nav>

        <!--</div>-->
        <!--</div>-->
    </div>
</div>
